<!-- Validation failure messages -->
<% if @severity.errors.any? %>
  <% @severity.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Severity #<%= @severity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_severity/<%= @severity.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <input type="text" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @severity.event_id %>">
      </div>

      <button class="btn btn-warning">
        Update Severity
      </button>
      or
      <a href="/severities/<%= @severity.id %>">Cancel</a>
    </form>
  </div>
</div>
